:root{
    background-color: white;
    --font-color-main: #000000;
    --default-menu-color: #000000;
}
.menu{
    list-style-image: url(img/menu.png);
}
li{
    list-style: none;
}
.menudiv{
    width: 95%;
    text-align: center;
}
.menutext{
    text-align: center;
    text-decoration: none;
}
.menutext:link{
    color: var(--default-menu-color);
}
.menutext:visited{
    color: var(--default-menu-color);
}
.menutext:hover{
    color: var(--default-menu-color);
}
.menutext:active{
    color: var(--default-menu-color);
}
details {  
    position: relative;  
    border: 1px solid #ccc;  
    padding: 10px;  
    overflow: hidden;  
    height: auto;  
    max-height: auto;  
    transition: max-height 0.5s ease-in-out;  
} 
details[open] {  
    max-height: 1000px; /* 足够大的值以显示所有内容 */  
    animation: expand 0.5s ease-in-out forwards;  
}          
details summary {  
    cursor: pointer;  
}  
/* 动画关键帧 */
@keyframes expand { 
    from {  
        max-height: auto;  
        opacity: 0.5;  
        }  
        to {  
            max-height: 1000px;  
            opacity: 1;  
        }                                                                                                        
}
.main{
    width: 80%;
    text-align: center;
    margin: auto;
}
.headtext{
    font-size: 25px;
    font-family: 'Micrisoft Yahei',sans-serif;
    font-weight: bold;
    text-decoration: center;
    color: var(--font-color-set)
}
.small{
    width: auto;
    margin: auto;
    text-align: center;
}
.big{
    width: auto;
    margin: auto;
    text-align: left;
}
.readme{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-color-set);
    transition: none ease-in-out 2s;
    
}
.join{
    width: 45%;
    height: 30%;
    font-size: 25px;
    background-color: pink;
    color: red;
    border: none;
    border-radius: 10px;
}
.about{
    width: 45%;
    height: 30%;
    font-size: 25px;
    background-color: aquamarine;
    color: green;
    border: none;
    border-radius: 10px;
}
.withe{
    --font-color-set: #ffffff;
    transition: all ease-in-out 2s;
}
.black{
    --font-color-set: var(--font-color-main);
    text-transform: all ease-in-out 2s;
}