:root{
    background-color: white;
    --font-color-main: #000000;
}
.main{
    width: 80%;
    text-align: center;
    margin: auto;
}
.headtext{
    font-size: 25px;
    font-family: 'Micrisoft Yahei',sans-serif;
    font-weight: bold;
    text-decoration: center;
    color: var(--font-color-set)
}
.small{
    width: 50%;
    margin: auto;
}
.readme{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-color-set);
    transition: none ease-in-out 2s;
    
}
.join{
    position: relative;
    background-color: #ffffffff;
    border-radius:8px;
    font-size: 18px;
    color:  red;
    padding: 10px 20px;
    margin: 4px 2px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.withe{
    --font-color-set: #ffffff;
    transition: all ease-in-out 2s;
}
.black{
    --font-color-set: var(--font-color-main);
    text-transform: all ease-in-out 2s;
}